<!DOCTYPE html>
<html lang="ru" xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{film.form.add.film}"></title>
</head>
<body>


<h1 th:text="#{film.form.title}"></h1>
<form th:action="@{/film/add}" method="post" th:object="${film}">
    <div>
        <label for="title" th:text="#{film.form.name}"></label>
        <input type="text" id="title" th:field="*{title}" th:placeholder="#{film.form.name.placeholder}">
        <p th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></p>
    </div>

    <div>
        <label for="director" th:text="#{film.form.director}"></label>
        <input type="text" id="director" th:field="*{director}" th:placeholder="#{film.form.director.placeholder}">
        <p th:if="${#fields.hasErrors('director')}" th:errors="*{director}"></p>
    </div>

    <div>
        <label for="description" th:text="#{film.form.description}"></label>
        <input type="text" id="description" th:field="*{description}" th:placeholder="#{film.form.description.placeholder}">
        <p th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></p>
    </div>

    <div>
        <label for="year" th:text="#{film.form.year}"></label>
        <input type="number" id="year" th:field="*{year}" th:placeholder="#{film.form.year.placeholder}">
        <p th:if="${#fields.hasErrors('year')}" th:errors="*{year}"></p>
    </div>

    <button type="submit" th:text="#{film.form.button.add}" ></button>
</form>

<hr>

<form action = "/film/search" method="get">
    <h1 th:text="#{film.form.search.title}"></h1>

<!--    Поиск по названию-->
    <div>

        <label th:text="#{film.form.search.title.label}"></label>
        <input type="text" name = "title" th:placeholder="#{film.form.search.title.placeholder}">
    </div>

    <!-- По количеству страниц: от -->
    <div>
        <label th:text="#{film.form.search.pageCountFrom.label}"></label>
        <input type="number" name="pageCountFrom" th:placeholder="#{film.form.search.pageCountFrom.placeholder}">
    </div>

    <!-- По количеству страниц: до -->
    <div>
        <label th:text="#{film.form.search.pageCountTo.label}"></label>
        <input type="number" name="pageCountTo" th:placeholder="#{film.form.search.pageCountTo.placeholder}">
    </div>

    <!-- По описанию -->
    <div>
        <label th:text="#{film.form.search.description.label}"></label>
        <input type="text" name="description" th:placeholder="#{film.form.search.description.placeholder}">
    </div>

    <button type="submit" th:text="#{film.form.search.button}"></button>
</form>

<h2 th:text="#{film.form.films.list}"></h2>
<ul>
    <li th:each="film : ${films}">
        *** <strong th:text="${film.getTitle()}"></strong> ***
        <em th:text="${film.getDirector()}"></em> ,
        <em th:text="${film.getDescription()}"></em>,
        <span th:text="${film.getYear()}"></span>
    </li>
</ul>
</body>
</html>